# Data Processing

## Dependency

In [1]:
import math
import pandas as pd 
import numpy as np

## Import Data

In [2]:
company_information = pd.read_csv("./cleaned/company_infomation.csv")
company_information

/home/zhouzhanpeng/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (17,20,21,36) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,hrowkey,id,origin_id,corporate_name,name_of_legal_person,corporate_type,registration_number,company_type,registered_address,date_of_establishment,...,before_name,eeid,registered_capital_measurement,registered_capital_num,original_province,city,county,area_code,company_type_abbr,enterprise_state_type
0,000aab2f-aa6e-4a23-a3ed-e8aab8451bd1_00000000,43636135.0,000aab2f-aa6e-4a23-a3ed-e8aab8451bd1,东莞市里奥东尼家具有限公司,黄进宝,1.0,441900001897129,有限责任公司(非自然人投资或控股的法人独资),东莞市大岭山镇马蹄岗村湖畔工业园区内,2014-03-31,...,NaN,000aab2f-aa6e-4a23-a3ed-e8aab8451bd1_00000000,人民币,500000.0,广东,东莞市,NaN,441900,2.0,1.0
1,0014c670-57a7-4fd0-a1ed-8a40df23544a_00000000,72473508.0,0014c670-57a7-4fd0-a1ed-8a40df23544a,建湖县飞龙齿轮机械厂,陈汉春,1.0,320925000029191,个人独资企业,近湖镇镇北村,2003-12-03,...,NaN,0014c670-57a7-4fd0-a1ed-8a40df23544a_00000000,人民币,400000.0,江苏,盐城市,建湖县,320925,2.0,1.0
2,00197b89-95f5-4138-b249-b26b9e2cee31_00000000,286396230.0,00197b89-95f5-4138-b249-b26b9e2cee31,康博嘉信息科技（北京）股份有限公司,祖凯,1.0,110108016847688,股份有限公司(台港澳与境内合资、未上市),北京市海淀区中关村大街18号B座9层911室,2014-03-13,...,康博嘉信息科技（北京）有限公司,00197b89-95f5-4138-b249-b26b9e2cee31_00000000,人民币,10526320.0,北京,北京市,海淀区,110108,2.0,1.0
3,00368693-9a71-442d-9568-c0bfd9bf7d1a_00000000,29630.0,00368693-9a71-442d-9568-c0bfd9bf7d1a,北京起重机器厂,王万春,1.0,110105002015402,全民所有制,北京市朝阳区广渠门外垂杨柳甲一号,1982-07-16,...,NaN,00368693-9a71-442d-9568-c0bfd9bf7d1a_00000000,人民币,10824200.0,北京,北京市,朝阳区,110105,2.0,1.0
4,0048812d-52d1-4a94-90be-f133a85b0a44_00000000,100526374.0,0048812d-52d1-4a94-90be-f133a85b0a44,宁波泓瑞创惠股权投资合伙企业（有限合伙）,朱瑞,1.0,91330201MA282UKG9U,有限合伙企业,宁波杭州湾新区兴慈一路290号1号楼409室,2016-11-02,...,NaN,0048812d-52d1-4a94-90be-f133a85b0a44_00000000,NaN,NaN,浙江,NaN,NaN,330201,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9981382,f87cedd9-d73e-4128-83cd-97dee5cc8d5f_00000000,87771000.0,f87cedd9-d73e-4128-83cd-97dee5cc8d5f,响水县国环饲料经营部,毛春宝,1.0,3209212700336,NaN,响水县双港镇国环村,2006-06-27,...,NaN,f87cedd9-d73e-4128-83cd-97dee5cc8d5f_00000000,人民币,100000.0,全国,盐城市,响水县,320921,2.0,3.0
9981383,f87d0b35-fb8d-4423-876d-5b9c2524f08b_00000000,242749424.0,f87d0b35-fb8d-4423-876d-5b9c2524f08b,东莞市长安汽车粤S.S6140,许真勇,1.0,4419003011028,NaN,东莞市长安镇,2004-10-23,...,NaN,f87d0b35-fb8d-4423-876d-5b9c2524f08b_00000000,人民币,20000.0,全国,东莞市,NaN,441900,1.0,3.0
9981384,f87d6eb4-24de-44c3-858e-06be872f1e5a_00000000,229347043.0,f87d6eb4-24de-44c3-858e-06be872f1e5a,米脂县李丹凸凸擀面皮店,李丹丹,1.0,612728610052595,个体工商户,陕西省榆林市米脂县银州镇第二农贸市场,2016-09-30,...,米脂县吃货小火锅店,f87d6eb4-24de-44c3-858e-06be872f1e5a_00000000,NaN,NaN,陕西,榆林市,米脂县,610827,1.0,1.0
9981385,f87db8fe-be4e-11e6-b342-00163e014a2c_00000000,275258051.0,f87db8fe-be4e-11e6-b342-00163e014a2c,华逸（香港）国际贸易有限公司,NaN,0.0,0826612,私人股份有限公司,NaN,2002-12-20,...,NaN,f87db8fe-be4e-11e6-b342-00163e014a2c_00000000,NaN,NaN,香港,NaN,NaN,NaN,2.0,3.0
9981386,f87dc28b-468d-4447-aae5-77331f3b39a3_00000000,26495326.0,f87dc28b-468d-4447-aae5-77331f3b39a3,大足区家豪摩托车配件厂,周志明,1.0,500225600393590,个体工商户,重庆市大足区龙水镇永益6组,2013-03-18,...,NaN,f87dc28b-468d-4447-aae5-77331f3b39a3_00000000,NaN,NaN,重庆,NaN,NaN,500225,1.0,1.0

In [5]:
company_to_company = pd.read_csv("./cleaned/company_to_company.csv")
company_to_company

/home/zhouzhanpeng/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (1,8,9,17,19,21) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,hrowkeynew,id,eeid,company_id,company_name,invested_company_eeid,invested_company_id,invested_company_name,stock_percentage,should_capi,...,invest_time,inner_md5,record_md5,gmt_create,gmt_modified,extend_info,data_source,is_deleted,row_update_time,origin_id
0,380004f4-be82-11e6-b40f-00163e014a2c_00000000_...,4711496,380004f4-be82-11e6-b40f-00163e014a2c_00000000,92e5f2b29a3952ad265c34b14f14bfb3,华盛控股有限公司,efdb4803-27a3-4161-82b0-1b0e168c218f_00000000,20a51bcfefd12f9ce3fc5468a8520b17,张家港保税区华春国际贸易有限公司,0.25,65.8,...,1998-12-01,6718e9c4ec46ef86fe2666a3efb0a691,0d41d5e7c4e0ab11dac5a1a6361ef277,2020-03-20 02:09:47.0,2020-03-20 02:09:47.0,NaN,hehe,0,2019-04-01 17:34:25.0,1444392c
1,380009bc-267e-4c63-a77a-711c73b1b848_00000000_...,7354287,380009bc-267e-4c63-a77a-711c73b1b848_00000000,NaN,江苏易装建设工程有限公司,c123f4a9-b242-4a01-8aa9-dbcb9fef6f02_00000000,NaN,连云港富名建设工程有限公司,1,0,...,2019-10-21,1057d2afe25e14e54c1012027f1f36ea,976bea17ebf2437ed74d9000bacbe1fe,2020-06-18 22:04:11.0,2020-06-18 22:04:11.0,NaN,hehe,0,2020-06-18 10:47:25.0,64603048
2,38001b5c-1ccb-4c18-9ad3-9743d338a31c_00000000_...,4642658,38001b5c-1ccb-4c18-9ad3-9743d338a31c_00000000,0b722fc7442478d4dabe8589cc38a14f,天津图书大厦股份有限公司,149e282e-2b77-4593-9a6b-70fb53b9c33c_00000000,7065d41dc71d142251fd9252723c733a,天津金图广告有限公司,1,50,...,2012-08-23,f17bb41cc40e57722ce511df9ac60781,6eb674d47d6b123441971eb9a9d2106b,2020-03-20 01:56:58.0,2020-03-20 01:56:58.0,NaN,hehe,0,2019-04-16 11:04:37.0,174001c
3,38001b5c-1ccb-4c18-9ad3-9743d338a31c_00000000_...,4637990,38001b5c-1ccb-4c18-9ad3-9743d338a31c_00000000,NaN,天津金文图书城股份有限公司,b70fbd3e-1e39-44b1-b053-ef2b710a7fec_00000000,371d06eb8420dddd7d66e343ef8d21a0,天津金途教育信息咨询有限公司,0.4,4,...,2003-08-12,af1a30e99b8484aa3c62ae56c4976131,9473cf2484767713074cf45dfbd56b2b,2020-03-20 01:56:05.0,2020-03-20 01:56:05.0,NaN,hehe,0,2019-01-21 12:13:22.0,227351c
4,38002d91-d751-48b8-afb2-4665e12a0e85_00000000_...,2012732,38002d91-d751-48b8-afb2-4665e12a0e85_00000000,3d0427e13babd21db23dc28f8c886948,百色市红日房地产开发有限责任公司,5cab51b9-cab0-453b-8078-bec9d1c2bb39_00000000,43a2e8cf914f237b8c1de5fdf28c9a0d,那坡县红日投资实业有限公司,1,1000,...,2015-08-24,51dfe06b211b8b0f41ff56945818ba8f,e92e55ce709d602770de549a2394be57,2020-03-19 02:56:54.0,2020-03-19 03:00:13.0,NaN,hehe,0,2019-07-22 16:33:08.0,1740185
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4316109,fbffd20a-6e64-4e9f-b039-acfdf426e021_00000000_...,424727,fbffd20a-6e64-4e9f-b039-acfdf426e021_00000000,1a637464b72fbd0b2a3509dc280012bd,宁波都特国际贸易有限公司,94001883-fc10-4b68-8040-fc7bb94246ab_00000000,59e6e2f974c7b15aced3799fa49aeced,都特(义乌)供应链管理有限公司,1,1000,...,2019-11-26,349622ebbe264596577327e595331445,3d53176e88d304d5c812bdf94f301c0e,2020-03-18 21:04:03.0,2020-03-18 21:04:03.0,NaN,hehe,0,2019-11-28 13:59:20.0,58663121
4316110,fbffd20a-6e64-4e9f-b039-acfdf426e021_00000000_...,421317,fbffd20a-6e64-4e9f-b039-acfdf426e021_00000000,1a637464b72fbd0b2a3509dc280012bd,宁波都特国际贸易有限公司,a85ea794-ff0b-433c-a5e7-b44df5b5b90d_00000000,c4a069408589a7e4054dc9f34c3108f2,青田都特供应链管理有限公司,1,1000,...,2018-11-09,304a7077918be23f0fb43bb35eaba490,ec7a88e4b77fe3b42ab310d6a351d092,2020-03-18 21:02:53.0,2020-03-18 21:02:53.0,NaN,hehe,0,2019-04-01 17:19:52.0,7256221
4316111,fbffd20a-6e64-4e9f-b039-acfdf426e021_00000000_...,421379,fbffd20a-6e64-4e9f-b039-acfdf426e021_00000000,1a637464b72fbd0b2a3509dc280012bd,宁波都特国际贸易有限公司,d921c2b7-3803-436f-a87e-77c69743785f_00000000,f795d7648b2cdbc39984ddf09c267f39,丽水都特国际贸易有限公司,1,2000,...,2018-11-14,a9bedcf281bbb9c42db269005e004f1a,da96ea26ac1b5a12dc23afe8bc2b63e0,2020-03-18 21:02:53.0,2020-03-18 21:02:53.0,NaN,hehe,0,2019-04-01 17:19:55.0,9024221
4316112,fbfff855-36ee-4c5c-abc8-56de141b4ec8_00000000_...,7362675,fbfff855-36ee-4c5c-abc8-56de141b4ec8_00000000,NaN,上海奥利安娜网络科技有限公司,6a3b83de-698f-40ab-a5c2-29d524876bf4_00000000,NaN,江苏智安创联科技有限公司,1,10000,...,2020-06-19,4182a6eb4dd21dd86b39a7748122a0e5,1716f3ae2767e1678467d2a1acc4ea3c,2020-06-21 22:02:24.0,2020-06-21 22:02:24.0,NaN,hehe,0,2020-06-21 13:08:23.0,1717643c8
4316113,fbfffdeb-b74f-4d85-a42a-c33ce9cf5c43_00000000_...,1199626,fbfffdeb-b74f-4d85-a42a-c33ce9cf5c43_00000000,5cb7e65ddd8028289fa1aa2e3b8ed7b1,上海中洲信息科技合作公司,dbed8604-8682-4035-8a6a-a77dd4bca08f_00000000,3957a3517889405c3978d4930957c3f9,上海跃洲商贸发展有限公司,0.166667,50,...,1996-05-20,d4723ceb354c1a200d1b357d0be9627d,e16ccd76749458f43bdf43ddc058a3e2,2020-03-18 23:51:50.0,2020-03-18 23:51:50.0,NaN,hehe,0,2019-04-16 11:01:07.0,1024343

In [3]:
person_to_company = pd.read_csv("./cleaned/person_to_company.csv")
person_to_company

,hrowkeynew,id,eeid,company_id,company_name,shareholder_type,investor_eeid,investor_id,investor,stock_type,...,controlling_proportion,gmt_create,gmt_modified,extend_info,record_md5,inner_md5,data_source,is_deleted,sp_source,version
0,001f1f17-096f-4d7f-bc53-d4d8ecc28e18_00000000_...,128626149.0,001f1f17-096f-4d7f-bc53-d4d8ecc28e18_00000000,b61c4ba21ba5ceafe64dad1569a7856f,确信爱法金属（深圳）有限公司,NaN,NaN,NaN,(香港)爱法焊锡制品有限公司,法人股东,...,0.00,2020-04-29 16:10:08.0,2020-05-14 12:29:25.0,NaN,3bd83c5299b1d5e6ad27cf6e45003966,9c095b9668463f49ab087a8e6b5f26f9,hehe,0.0,工商暗接口,143761019.0
1,003bb884-e519-4143-a651-1fd6a9bf3f4f_00000000_...,106173092.0,003bb884-e519-4143-a651-1fd6a9bf3f4f_00000000,f5e5c5b5f6707855cb256466926fa316,广州君达投资有限公司,NaN,ffe1295b-9a39-41db-a554-de58af9f4259_00000000,NaN,李宗文,自然人股东,...,0.00,2020-02-11 16:03:21.0,2020-05-02 21:19:40.0,NaN,037979af99d70acd6aac7f2be188971f,b73f22cae9021fc1e98309d03db4feae,hehe,0.0,工商暗接口,135131422.0
2,005a59d6-831c-49ba-a420-44d5bee61404_00000000_...,25796847.0,005a59d6-831c-49ba-a420-44d5bee61404_00000000,a8ce20dad50634416aacc531f0856972,南京德盈实业有限公司,NaN,NaN,NaN,黎长明,自然人股东,...,0.00,2020-02-11 14:50:37.0,2020-02-11 14:50:37.0,NaN,0347ec498946a56b9fbc7eb8e905a3bb,474709b7f841d07e5de08b4cbc8127cf,hehe,0.0,工商暗接口,0.0
3,005a59d6-831c-49ba-a420-44d5bee61404_00000000_...,25796849.0,005a59d6-831c-49ba-a420-44d5bee61404_00000000,a8ce20dad50634416aacc531f0856972,南京德盈实业有限公司,NaN,NaN,NaN,袁家保,自然人股东,...,0.00,2020-02-13 01:24:01.0,2020-02-13 01:24:01.0,NaN,6ae52992c1abbc1baa6950f7ad250872,7119ae78ec6f76fb6ae99658814e384c,hehe,0.0,工商暗接口,0.0
4,006d3a10-094d-4920-8d95-ec1ade78b3d9_00000000_...,96437153.0,006d3a10-094d-4920-8d95-ec1ade78b3d9_00000000,4eccf187699a499e6cce6a726e1e54b6,华瑞纵横（北京）科技有限公司,NaN,NaN,NaN,蒲忠杰,自然人股东,...,0.00,2020-02-12 05:59:50.0,2020-04-29 17:09:36.0,NaN,e0e58cfaf7570ec41b4198c4fb6a53fb,43fc7b90bcde48bb6d4eb3112f2f52aa,hehe,0.0,工商暗接口,128792887.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11378492,f87d307c-4003-4fca-8535-a3696018324d_00000000_...,82021976.0,f87d307c-4003-4fca-8535-a3696018324d_00000000,5017f719a15ef2d3552e2dbbad5fa9fe,临沂市润丰房地产开发有限公司,NaN,NaN,NaN,傅兆海,其他投资者,...,0.02,2020-02-12 01:49:53.0,2020-02-12 01:49:53.0,NaN,6c86264be234dc4cee8f6b5be644ab81,e58162d56ba362b55d3a0c3a55a9c6c9,hehe,0.0,工商,0.0
11378493,f87d307c-4003-4fca-8535-a3696018324d_00000000_...,82021966.0,f87d307c-4003-4fca-8535-a3696018324d_00000000,5017f719a15ef2d3552e2dbbad5fa9fe,临沂市润丰房地产开发有限公司,NaN,NaN,NaN,曹广风,其他投资者,...,0.02,2020-02-12 08:03:33.0,2020-02-12 08:03:33.0,NaN,a4e8d96bcf31ebe41804c6a6ff10142e,456cc2acd2fdec859fd8b429e2b9aa45,hehe,0.0,工商,0.0
11378494,f87d307c-4003-4fca-8535-a3696018324d_00000000_...,82021978.0,f87d307c-4003-4fca-8535-a3696018324d_00000000,5017f719a15ef2d3552e2dbbad5fa9fe,临沂市润丰房地产开发有限公司,NaN,NaN,NaN,葛福林,其他投资者,...,0.20,2020-02-12 22:51:47.0,2020-02-12 22:51:47.0,NaN,a61d888cda504d7b30f88928b3260a72,aadaf20ebd43f502b68e27192aed6e55,hehe,0.0,工商,0.0
11378495,f87d307c-4003-4fca-8535-a3696018324d_00000000_...,82021968.0,f87d307c-4003-4fca-8535-a3696018324d_00000000,5017f719a15ef2d3552e2dbbad5fa9fe,临沂市润丰房地产开发有限公司,NaN,NaN,NaN,葛家王平庄,其他投资者,...,0.52,2020-02-12 16:41:50.0,2020-02-12 16:41:50.0,NaN,f70da7c840704080c4b4f1ae9f406e17,96161ab24e77711aaa82143bca90ed38,hehe,0.0,工商,0.0
11378496,f87d307c-4003-4fca-8535-a3696018324d_00000000_...,82021964.0,f87d307c-4003-4fca-8535-a3696018324d_00000000,5017f719a15ef2d3552e2dbbad5fa9fe,临沂市润丰房地产开发有限公司,NaN,NaN,NaN,周军红,其他投资者,...,0.18,2020-02-12 14:33:07.0,2020-02-12 14:33:07.0,NaN,ffc3f237059f589009437a846cd43563,37159e910a20a306b8848edc7f5317ef,hehe,0.0,工商,0.0

In [6]:
company_names = set(company_information["corporate_name"]) | set(company_to_company["company_name"]) | set(company_to_company["invested_company_name"]) | set(person_to_company["company_name"])

In [7]:
person_to_company_split = person_to_company[person_to_company["investor"].isin(company_names)]
person_to_company_split

,hrowkeynew,id,eeid,company_id,company_name,shareholder_type,investor_eeid,investor_id,investor,stock_type,...,controlling_proportion,gmt_create,gmt_modified,extend_info,record_md5,inner_md5,data_source,is_deleted,sp_source,version
14,00a9c801-be50-4e61-8915-7efe7541518a_00000000_...,94431403.0,00a9c801-be50-4e61-8915-7efe7541518a_00000000,b8b429c9620232cce9633821eafd55c0,北京华城汇科技有限公司,NaN,af5ed433-f47e-4053-846e-5a4c3bc957d6_00000000,b56dc51e003227b90ccb3bab157b7f61,北京星浩投资管理有限公司,企业法人,...,0.0,2020-02-12 14:45:30.0,2020-02-12 14:45:30.0,NaN,cc32c0619a618989fe39fe8f8ba85eff,fac856e2d012cf703f8bf819eebeeac3,hehe,0.0,工商暗接口,0.0
34,00ebbd5d-ee9f-4cf2-ac1e-d00d93430bf7_00000000_...,110028770.0,00ebbd5d-ee9f-4cf2-ac1e-d00d93430bf7_00000000,b28b9c5126d79e5131e687a4c16be2e8,上海盛虞网络科技有限公司,NaN,NaN,NaN,杭州边锋网络科技有限公司,企业法人,...,0.4,2020-02-11 16:54:11.0,2020-02-11 16:54:11.0,NaN,60c3629cbcd19ec931a12e13b566019a,9f4bef4c99f1a2b5f77f0ae6c01454aa,hehe,0.0,工商,0.0
55,01579387-fdaa-40cb-ae94-6a9589ec73ad_00000000_...,127921425.0,01579387-fdaa-40cb-ae94-6a9589ec73ad_00000000,eb59eba8338bec7624dbaf6d4884d264,沪江教育科技（上海）股份有限公司,NaN,bafd6a0b-abbd-4995-807a-a2a3b0f4ef6b_00000000,NaN,上海互元投资管理中心(有限合伙),合伙企业,...,0.0,2020-04-19 10:30:11.0,2020-06-11 10:59:02.0,NaN,b294f8ae51b9b53103394605fafec8f7,3539c95d7fc614d48d3a3dfa73a09f8a,hehe,0.0,工商暗接口,159105950.0
56,01579387-fdaa-40cb-ae94-6a9589ec73ad_00000000_...,127921429.0,01579387-fdaa-40cb-ae94-6a9589ec73ad_00000000,eb59eba8338bec7624dbaf6d4884d264,沪江教育科技（上海）股份有限公司,NaN,a80a4cc8-9954-4dd3-bcaf-aebb99487b14_00000000,NaN,北京百度网讯科技有限公司,企业法人,...,0.0,2020-04-19 10:30:11.0,2020-06-11 10:59:02.0,NaN,e0ad880ed7ec0cd819e7f0642e0b2289,8b6f879c8aa40aed56aac6a01ee339fd,hehe,0.0,工商暗接口,159105950.0
59,01579387-fdaa-40cb-ae94-6a9589ec73ad_00000000_...,127921426.0,01579387-fdaa-40cb-ae94-6a9589ec73ad_00000000,eb59eba8338bec7624dbaf6d4884d264,沪江教育科技（上海）股份有限公司,NaN,1768876c-6195-4de9-b557-9b6a47079784_00000000,NaN,上海文化产业股权投资基金合伙企业(有限合伙),合伙企业,...,0.0,2020-04-19 10:30:11.0,2020-06-11 10:59:02.0,NaN,f3ebe712bad9fd78382df9b7dd3c275b,3085f16b87b2b1be863e79f6ae6bcf67,hehe,0.0,工商暗接口,159105950.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11378355,f85b1995-a57c-4810-a4c5-c305eec0dd45_00000000_...,8045428.0,f85b1995-a57c-4810-a4c5-c305eec0dd45_00000000,007f3f7e5d0894c76598f43b5c53c7d2,龙油石化销售（广州）有限公司,NaN,1d6ae4d6-e8e1-4958-a11e-9a5bb5515712_00000000,NaN,大庆联谊石化股份有限公司,法人股东,...,0.0,2020-02-12 06:27:21.0,2020-05-29 12:29:02.0,NaN,31051cc31af7572c97282694e097c2bb,91a904a4df92fdae9145332aa914b3bf,hehe,0.0,工商暗接口,153874135.0
11378356,f85b1995-a57c-4810-a4c5-c305eec0dd45_00000000_...,8045430.0,f85b1995-a57c-4810-a4c5-c305eec0dd45_00000000,007f3f7e5d0894c76598f43b5c53c7d2,龙油石化销售（广州）有限公司,NaN,086e9d77-9b20-4e78-ad5e-4313b6c61f85_00000000,NaN,黑龙江省龙油石油化工股份有限公司,法人股东,...,0.0,2020-02-12 19:05:18.0,2020-05-29 12:29:02.0,NaN,732b4594dae759df82f368551c25b576,40db76a74ad3d3c54194e0678a1b8136,hehe,0.0,工商暗接口,153874135.0
11378376,f8600627-732f-4b30-8da8-9f00dc24e36e_00000000_...,93600963.0,f8600627-732f-4b30-8da8-9f00dc24e36e_00000000,0f06b36632b7079f1d7e550edf81ef4c,乌鲁木齐市迅达服务货栈,NaN,ffe1b7f2-00fa-11ea-853e-00163e0f05e7_00000000,8a3d105a45bd487754e8f8006a1b4aae,乌鲁木齐市残疾人联合会,法人股东,...,1.0,2020-02-12 21:22:06.0,2020-02-12 21:22:06.0,NaN,a9065ad09f6b7f63493b0ae6978a4cab,0f5a4fb5f4aa2ff147c92f3c5e19809b,hehe,0.0,工商,0.0
11378440,f8706d7c-3dd4-4e6a-8aea-93e331f00360_00000000_...,59987874.0,f8706d7c-3dd4-4e6a-8aea-93e331f00360_00000000,c77bfebeaa7f9beac96a48f6272c484c,上海稷昌建设工程有限公司,NaN,4a16f272-209e-433f-a60b-c848ba7dfcb6_00000000,NaN,上海稷昌建筑装饰工程有限公司,企业法人,...,0.0,2020-02-12 07:45:53.0,2020-05-18 09:42:15.0,NaN,8337ee7910e0118bff1dd44654b8c401,6035d5fa68eab22cd9e2f9845a3c8b3e,hehe,0.0,工商暗接口,144886610.0
11378474,f8792720-ac31-4389-a977-8e69c8457cf9_00000000_...,34852764.0,f8792720-ac31-4389-a977-8e69c8457cf9_00000000,46c3fb80bf222b20d1ee7af4a6f9908f,大连群兴房地产开发有限公司,NaN,d980d2f3-e1e1-4ed9-ae26-72b5c620d91d_00000000,NaN,大连泉华实业总公司,企业法人,...,0.0,2020-02-12 09:31:11.0,2020-05-10 11:51:26.0,NaN,d6a5bc30e0162cc95c6f7cfa2df92ee5,b06b93ef3c381f854ee72cca995d1765,hehe,0.0,工商暗接口,142792923.0

## NodeID

In [8]:
companies = set(company_information["eeid"]).union(set(company_to_company["eeid"])).union(set(company_to_company["invested_company_eeid"])).union(set(person_to_company["eeid"]))

In [9]:
company_part = pd.DataFrame(companies, columns = ["NodeID:ID(NodeID)"])
legal_person_info = company_information.dropna(subset = ["name_of_legal_person"])
legal_person_part = pd.DataFrame(np.arange(start= 0, stop= legal_person_info.shape[0],step=1), columns = ["NodeID:ID(NodeID)"])
investor_part = pd.DataFrame(np.arange(start= legal_person_info.shape[0], stop= legal_person_info.shape[0] + person_to_company.shape[0],step=1), columns = ["NodeID:ID(NodeID)"])
nodes = pd.concat([company_part, legal_person_part, investor_part], ignore_index=True)
nodes

                                      NodeID:ID(NodeID)
0         35672456-6e57-42c7-a748-9f13c3ece52d_00000000
1         6a675b31-e16f-4740-b502-2342c698bc56_00000000
2         7129df96-cc2e-4525-9b51-d20a207da338_00000000
3         483022b9-02bf-4c73-8196-dd614076e8d6_00000000
4         84d39078-2151-488a-b073-6fd1f8e16eb2_00000000
...                                                 ...
33711103                                       20960654
33711104                                       20960655
33711105                                       20960656
33711106                                       20960657
33711107                                       20960658

[33711108 rows x 1 columns]

In [10]:
nodes.to_csv("./import_data/nodes.csv", index=False)

## Name Nodes

In [11]:
names = set(company_information["corporate_name"]).union(set(company_to_company["company_name"])).union(set(company_to_company["invested_company_name"])).union(set(person_to_company["company_name"])).union(set(company_information["name_of_legal_person"])).union(set(person_to_company["investor"]))

In [12]:
names.remove(np.nan)

In [13]:
name_nodes = pd.DataFrame(names, columns = ["Name:ID(Name)"])
name_nodes

                      Name:ID(Name)
0                      黑河德尚经贸有限责任公司
1                           顺安两菌销售处
2                   永登县金方玫瑰收购种植有限公司
3                 陕西易威新能源汽车销售服务有限公司
4                       郑州市金水区香包快餐店
...                             ...
19002761                        郑夏映
19002762  南京婉梦八四四号文化艺术品投资合伙企业(有限合伙)
19002763               武汉美联永固焊业有限公司
19002764                        毛青云
19002765                   阳江宏发实业公司

[19002766 rows x 1 columns]

In [14]:
name_nodes.to_csv("./import_data/name_nodes.csv", index=False)

## Type Nodes

In [15]:
type_nodes = pd.DataFrame(set(person_to_company["stock_type"]), columns = ["Type:ID(Type)"])
type_nodes = type_nodes.dropna(subset=["Type:ID(Type)"])
type_nodes

        Type:ID(Type)
1                军队机构
2             农民专业合作社
3                 将笃彪
4    有限责任公司(台港澳与境内合作)
5                 其他投
..                ...
332              有限责任
333                法人
334              行政部门
335        有限公司(国有独资)
336      洛阳铁路分局劳动服务公司

[336 rows x 1 columns]

In [16]:
type_nodes.to_csv("./import_data/type_nodes.csv", index=False)

## City Nodes

In [17]:
city_nodes = pd.DataFrame(set(company_information["city"]), columns = ["City:ID(City)"])
city_nodes = city_nodes.dropna(subset = ["City:ID(City)"])
city_nodes

    City:ID(City)
1             中山市
2             保山市
3             乐山市
4             商洛市
5             昭通市
..            ...
337           茂名市
338           鄂州市
339           包头市
340          双鸭山市
341       昌吉回族自治州

[341 rows x 1 columns]

In [18]:
city_nodes.to_csv("./import_data/city_nodes.csv", index=False)

## Names Relationships

### Company Names

In [19]:
company_names_part_1 = company_information[["eeid", "corporate_name"]]
company_names_part_1 = company_names_part_1.dropna(subset = ["corporate_name"])
company_names_part_1 = company_names_part_1.rename(columns = {"eeid":":END_ID(NodeID)", "corporate_name":":START_ID(Name)"})
company_names_part_1 = company_names_part_1[[":START_ID(Name)", ":END_ID(NodeID)"]]
company_names_part_1

              :START_ID(Name)                                :END_ID(NodeID)
0               东莞市里奥东尼家具有限公司  000aab2f-aa6e-4a23-a3ed-e8aab8451bd1_00000000
1                  建湖县飞龙齿轮机械厂  0014c670-57a7-4fd0-a1ed-8a40df23544a_00000000
2           康博嘉信息科技（北京）股份有限公司  00197b89-95f5-4138-b249-b26b9e2cee31_00000000
3                     北京起重机器厂  00368693-9a71-442d-9568-c0bfd9bf7d1a_00000000
4        宁波泓瑞创惠股权投资合伙企业（有限合伙）  0048812d-52d1-4a94-90be-f133a85b0a44_00000000
...                       ...                                            ...
9981382            响水县国环饲料经营部  f87cedd9-d73e-4128-83cd-97dee5cc8d5f_00000000
9981383       东莞市长安汽车粤S.S6140  f87d0b35-fb8d-4423-876d-5b9c2524f08b_00000000
9981384           米脂县李丹凸凸擀面皮店  f87d6eb4-24de-44c3-858e-06be872f1e5a_00000000
9981385        华逸（香港）国际贸易有限公司  f87db8fe-be4e-11e6-b342-00163e014a2c_00000000
9981386           大足区家豪摩托车配件厂  f87dc28b-468d-4447-aae5-77331f3b39a3_00000000

[9981387 rows x 2 columns]

In [20]:
company_names_part_2 = company_to_company[["eeid", "company_name"]]
company_names_part_2 = company_names_part_2.dropna(subset = ["company_name"])
company_names_part_2 = company_names_part_2.rename(columns = {"eeid":":END_ID(NodeID)", "company_name":":START_ID(Name)"})
company_names_part_2 = company_names_part_2[[":START_ID(Name)", ":END_ID(NodeID)"]]
company_names_part_2

          :START_ID(Name)                                :END_ID(NodeID)
0                华盛控股有限公司  380004f4-be82-11e6-b40f-00163e014a2c_00000000
1            江苏易装建设工程有限公司  380009bc-267e-4c63-a77a-711c73b1b848_00000000
2            天津图书大厦股份有限公司  38001b5c-1ccb-4c18-9ad3-9743d338a31c_00000000
3           天津金文图书城股份有限公司  38001b5c-1ccb-4c18-9ad3-9743d338a31c_00000000
4        百色市红日房地产开发有限责任公司  38002d91-d751-48b8-afb2-4665e12a0e85_00000000
...                   ...                                            ...
4316109      宁波都特国际贸易有限公司  fbffd20a-6e64-4e9f-b039-acfdf426e021_00000000
4316110      宁波都特国际贸易有限公司  fbffd20a-6e64-4e9f-b039-acfdf426e021_00000000
4316111      宁波都特国际贸易有限公司  fbffd20a-6e64-4e9f-b039-acfdf426e021_00000000
4316112    上海奥利安娜网络科技有限公司  fbfff855-36ee-4c5c-abc8-56de141b4ec8_00000000
4316113      上海中洲信息科技合作公司  fbfffdeb-b74f-4d85-a42a-c33ce9cf5c43_00000000

[4316114 rows x 2 columns]

In [21]:
company_names_part_3 = company_to_company[["invested_company_eeid", "invested_company_name"]]
company_names_part_3 = company_names_part_3.dropna(subset = ["invested_company_name"])
company_names_part_3 = company_names_part_3.rename(columns = {"invested_company_eeid":":END_ID(NodeID)", "invested_company_name":":START_ID(Name)"})
company_names_part_3 = company_names_part_3[[":START_ID(Name)", ":END_ID(NodeID)"]]
company_names_part_3

          :START_ID(Name)                                :END_ID(NodeID)
0        张家港保税区华春国际贸易有限公司  efdb4803-27a3-4161-82b0-1b0e168c218f_00000000
1           连云港富名建设工程有限公司  c123f4a9-b242-4a01-8aa9-dbcb9fef6f02_00000000
2              天津金图广告有限公司  149e282e-2b77-4593-9a6b-70fb53b9c33c_00000000
3          天津金途教育信息咨询有限公司  b70fbd3e-1e39-44b1-b053-ef2b710a7fec_00000000
4           那坡县红日投资实业有限公司  5cab51b9-cab0-453b-8078-bec9d1c2bb39_00000000
...                   ...                                            ...
4316109   都特(义乌)供应链管理有限公司  94001883-fc10-4b68-8040-fc7bb94246ab_00000000
4316110     青田都特供应链管理有限公司  a85ea794-ff0b-433c-a5e7-b44df5b5b90d_00000000
4316111      丽水都特国际贸易有限公司  d921c2b7-3803-436f-a87e-77c69743785f_00000000
4316112      江苏智安创联科技有限公司  6a3b83de-698f-40ab-a5c2-29d524876bf4_00000000
4316113      上海跃洲商贸发展有限公司  dbed8604-8682-4035-8a6a-a77dd4bca08f_00000000

[4264708 rows x 2 columns]

In [22]:
company_names_part_4 = person_to_company[["eeid", "company_name"]]
company_names_part_4 = company_names_part_4.dropna(subset = ["company_name"])
company_names_part_4 = company_names_part_4.rename(columns = {"eeid":":END_ID(NodeID)", "company_name":":START_ID(Name)"})
company_names_part_4 = company_names_part_4[[":START_ID(Name)", ":END_ID(NodeID)"]]
company_names_part_4

         :START_ID(Name)                                :END_ID(NodeID)
0         确信爱法金属（深圳）有限公司  001f1f17-096f-4d7f-bc53-d4d8ecc28e18_00000000
1             广州君达投资有限公司  003bb884-e519-4143-a651-1fd6a9bf3f4f_00000000
2             南京德盈实业有限公司  005a59d6-831c-49ba-a420-44d5bee61404_00000000
3             南京德盈实业有限公司  005a59d6-831c-49ba-a420-44d5bee61404_00000000
4         华瑞纵横（北京）科技有限公司  006d3a10-094d-4920-8d95-ec1ade78b3d9_00000000
...                  ...                                            ...
11378492  临沂市润丰房地产开发有限公司  f87d307c-4003-4fca-8535-a3696018324d_00000000
11378493  临沂市润丰房地产开发有限公司  f87d307c-4003-4fca-8535-a3696018324d_00000000
11378494  临沂市润丰房地产开发有限公司  f87d307c-4003-4fca-8535-a3696018324d_00000000
11378495  临沂市润丰房地产开发有限公司  f87d307c-4003-4fca-8535-a3696018324d_00000000
11378496  临沂市润丰房地产开发有限公司  f87d307c-4003-4fca-8535-a3696018324d_00000000

[11378497 rows x 2 columns]

In [23]:
company_names = pd.concat([company_names_part_1, company_names_part_2, company_names_part_3, company_names_part_4], ignore_index=True)
company_names = company_names.drop_duplicates(keep='first', inplace=False)
company_names

               :START_ID(Name)                                :END_ID(NodeID)
0                东莞市里奥东尼家具有限公司  000aab2f-aa6e-4a23-a3ed-e8aab8451bd1_00000000
1                   建湖县飞龙齿轮机械厂  0014c670-57a7-4fd0-a1ed-8a40df23544a_00000000
2            康博嘉信息科技（北京）股份有限公司  00197b89-95f5-4138-b249-b26b9e2cee31_00000000
3                      北京起重机器厂  00368693-9a71-442d-9568-c0bfd9bf7d1a_00000000
4         宁波泓瑞创惠股权投资合伙企业（有限合伙）  0048812d-52d1-4a94-90be-f133a85b0a44_00000000
...                        ...                                            ...
29937809         乌鲁木齐华丰科商贸有限公司  cdbd60c8-c17e-4928-a1d4-dba8a5255b18_00000000
29937846     雅安市名山区太极大药房志友加盟药店  cdc3eeca-e9db-41e8-9cf8-f6a2fd4b966e_00000000
29939413           义乌市标熠贸易有限公司  e0350ee0-487d-47d4-b97e-2c9e175d9ca9_00000000
29940101            上海承燕贸易有限公司  ece8443e-d675-47eb-8078-0d67bd9d7cb6_00000000
29940321    大连普兰店世纪路内科诊所（普通合伙）  f8249978-c731-48ec-ae98-76a150f1a02d_00000000

[13167815 rows x 2 columns]

In [24]:
company_names.to_csv("./import_data/company_names.csv", index=False)

### Legal Person Names

In [25]:
legal_person_names = pd.concat([legal_person_info.reset_index()["name_of_legal_person"], legal_person_part], axis = 1)
legal_person_names = legal_person_names.rename(columns = {"name_of_legal_person":":START_ID(Name)", "NodeID:ID(NodeID)":":END_ID(NodeID)"})
legal_person_names

        :START_ID(Name)  :END_ID(NodeID)
0                   黄进宝                0
1                   陈汉春                1
2                    祖凯                2
3                   王万春                3
4                    朱瑞                4
...                 ...              ...
9582157             高爱民          9582157
9582158             毛春宝          9582158
9582159             许真勇          9582159
9582160             李丹丹          9582160
9582161             周志明          9582161

[9582162 rows x 2 columns]

In [26]:
legal_person_names.to_csv("./import_data/legal_person_names.csv", index = False)

### Investor Names

In [27]:
investor_names = pd.concat([investor_part,person_to_company["investor"].reset_index()["investor"]], axis = 1)
investor_names = investor_names.rename(columns = {"investor":":START_ID(Name)", "NodeID:ID(NodeID)":":END_ID(NodeID)"})
investor_names

          :END_ID(NodeID) :START_ID(Name)
0                 9582162  (香港)爱法焊锡制品有限公司
1                 9582163             李宗文
2                 9582164             黎长明
3                 9582165             袁家保
4                 9582166             蒲忠杰
...                   ...             ...
11378492         20960654             傅兆海
11378493         20960655             曹广风
11378494         20960656             葛福林
11378495         20960657           葛家王平庄
11378496         20960658             周军红

[11378497 rows x 2 columns]

In [28]:
investor_names.to_csv("./import_data/investor_names.csv", index = False)

## Types Relationships

### Company Types

In [29]:
company_types = pd.concat([pd.DataFrame(pd.Series('企业').repeat(company_part.shape[0])).reset_index()[0], company_part], axis = 1)
company_types = company_types.rename(columns = {0:":START_ID(Type)", "NodeID:ID(NodeID)":":END_ID(NodeID)"})
company_types

         :START_ID(Type)                                :END_ID(NodeID)
0                     企业  35672456-6e57-42c7-a748-9f13c3ece52d_00000000
1                     企业  6a675b31-e16f-4740-b502-2342c698bc56_00000000
2                     企业  7129df96-cc2e-4525-9b51-d20a207da338_00000000
3                     企业  483022b9-02bf-4c73-8196-dd614076e8d6_00000000
4                     企业  84d39078-2151-488a-b073-6fd1f8e16eb2_00000000
...                  ...                                            ...
12750444              企业  2d002f9a-81bc-4983-9b6e-fb8500feac64_00000000
12750445              企业  0b6c6f4f-eaef-4273-929e-ace3666e13de_00000000
12750446              企业  5e551104-f950-47e1-a125-990c3425b28d_00000000
12750447              企业  0fe35fe9-c6f8-43de-aa50-089298ff5535_00000000
12750448              企业  398ea585-1918-483c-8e15-6ecb10584b9e_00000000

[12750449 rows x 2 columns]

In [30]:
company_types.to_csv("./import_data/company_types.csv", index = False)

### Legal Person Types

In [31]:
legal_person_types = pd.concat([pd.DataFrame(pd.Series('自然人股东').repeat(legal_person_part.shape[0])).reset_index()[0], legal_person_part], axis = 1)
legal_person_types = legal_person_types.rename(columns = {0:":START_ID(Type)", "NodeID:ID(NodeID)":":END_ID(NodeID)"})
legal_person_types

        :START_ID(Type)  :END_ID(NodeID)
0                 自然人股东                0
1                 自然人股东                1
2                 自然人股东                2
3                 自然人股东                3
4                 自然人股东                4
...                 ...              ...
9582157           自然人股东          9582157
9582158           自然人股东          9582158
9582159           自然人股东          9582159
9582160           自然人股东          9582160
9582161           自然人股东          9582161

[9582162 rows x 2 columns]

In [32]:
legal_person_types.to_csv("./import_data/legal_person_types.csv", index = False)

### Investor Types

In [33]:
investor_types = pd.concat([person_to_company["stock_type"].reset_index()["stock_type"], investor_part], axis = 1)
investor_types = investor_types.rename(columns = {"stock_type":":START_ID(Type)", "NodeID:ID(NodeID)":":END_ID(NodeID)"})
investor_types = investor_types.dropna(subset = [":START_ID(Type)"])
investor_types

         :START_ID(Type)  :END_ID(NodeID)
0                   法人股东          9582162
1                  自然人股东          9582163
2                  自然人股东          9582164
3                  自然人股东          9582165
4                  自然人股东          9582166
...                  ...              ...
11378492           其他投资者         20960654
11378493           其他投资者         20960655
11378494           其他投资者         20960656
11378495           其他投资者         20960657
11378496           其他投资者         20960658

[11292108 rows x 2 columns]

In [34]:
investor_types.to_csv("./import_data/investor_types.csv", index = False)

## City Relationships

In [35]:
cities = company_information[["city", "eeid"]]
cities = cities.rename(columns = {"city":":START_ID(City)", "eeid":":END_ID(NodeID)"})
cities = cities.dropna(subset = [":START_ID(City)"])
cities

        :START_ID(City)                                :END_ID(NodeID)
0                   东莞市  000aab2f-aa6e-4a23-a3ed-e8aab8451bd1_00000000
1                   盐城市  0014c670-57a7-4fd0-a1ed-8a40df23544a_00000000
2                   北京市  00197b89-95f5-4138-b249-b26b9e2cee31_00000000
3                   北京市  00368693-9a71-442d-9568-c0bfd9bf7d1a_00000000
5                   深圳市  00536b02-d249-448c-8b5b-39d082f04925_00000000
...                 ...                                            ...
9981380             阳泉市  f87cba7d-6e5d-4403-a7d1-38648b25e01e_00000000
9981381             济南市  f87cbce1-06f6-4bc2-8a1c-ccc775371459_00000000
9981382             盐城市  f87cedd9-d73e-4128-83cd-97dee5cc8d5f_00000000
9981383             东莞市  f87d0b35-fb8d-4423-876d-5b9c2524f08b_00000000
9981384             榆林市  f87d6eb4-24de-44c3-858e-06be872f1e5a_00000000

[8046321 rows x 2 columns]

In [36]:
cities.to_csv("./import_data/cities.csv", index = False)

## Person to Company

In [37]:
ptc_csv = person_to_company.reset_index()[["controlling_proportion", "subscription_amount", "eeid"]]
ptc_csv = pd.concat([investor_part, ptc_csv], axis = 1)
ptc_csv = ptc_csv.rename(columns = {"eeid":":END_ID(NodeID)", "subscription_amount":"value", "controlling_proportion":"ratio", "NodeID:ID(NodeID)":":START_ID(NodeID)"})
ptc_csv

,:START_ID(NodeID),ratio,value,:END_ID(NodeID)
0,9582162,0.00,1111.0,001f1f17-096f-4d7f-bc53-d4d8ecc28e18_00000000
1,9582163,0.00,200.0,003bb884-e519-4143-a651-1fd6a9bf3f4f_00000000
2,9582164,0.00,1850.0,005a59d6-831c-49ba-a420-44d5bee61404_00000000
3,9582165,0.00,150.0,005a59d6-831c-49ba-a420-44d5bee61404_00000000
4,9582166,0.00,200.0,006d3a10-094d-4920-8d95-ec1ade78b3d9_00000000
...,...,...,...,...
11378492,20960654,0.02,10.0,f87d307c-4003-4fca-8535-a3696018324d_00000000
11378493,20960655,0.02,10.0,f87d307c-4003-4fca-8535-a3696018324d_00000000
11378494,20960656,0.20,100.0,f87d307c-4003-4fca-8535-a3696018324d_00000000
11378495,20960657,0.52,260.0,f87d307c-4003-4fca-8535-a3696018324d_00000000
11378496,20960658,0.18,90.0,f87d307c-4003-4fca-8535-a3696018324d_00000000

In [38]:
ptc_csv.to_csv("./import_data/person_to_company.csv", index=False)

## Company to Company

In [39]:
ctc_csv = company_to_company[["eeid", "stock_percentage", "should_capi", "invested_company_eeid"]]
ctc_csv = ctc_csv.rename(columns = {"eeid":":START_ID(NodeID)", "invested_company_eeid":":END_ID(NodeID)", "stock_percentage":"ratio", "should_capi":"value"})
ctc_csv

,:START_ID(NodeID),ratio,value,:END_ID(NodeID)
0,380004f4-be82-11e6-b40f-00163e014a2c_00000000,0.25,65.8,efdb4803-27a3-4161-82b0-1b0e168c218f_00000000
1,380009bc-267e-4c63-a77a-711c73b1b848_00000000,1,0,c123f4a9-b242-4a01-8aa9-dbcb9fef6f02_00000000
2,38001b5c-1ccb-4c18-9ad3-9743d338a31c_00000000,1,50,149e282e-2b77-4593-9a6b-70fb53b9c33c_00000000
3,38001b5c-1ccb-4c18-9ad3-9743d338a31c_00000000,0.4,4,b70fbd3e-1e39-44b1-b053-ef2b710a7fec_00000000
4,38002d91-d751-48b8-afb2-4665e12a0e85_00000000,1,1000,5cab51b9-cab0-453b-8078-bec9d1c2bb39_00000000
...,...,...,...,...
4316109,fbffd20a-6e64-4e9f-b039-acfdf426e021_00000000,1,1000,94001883-fc10-4b68-8040-fc7bb94246ab_00000000
4316110,fbffd20a-6e64-4e9f-b039-acfdf426e021_00000000,1,1000,a85ea794-ff0b-433c-a5e7-b44df5b5b90d_00000000
4316111,fbffd20a-6e64-4e9f-b039-acfdf426e021_00000000,1,2000,d921c2b7-3803-436f-a87e-77c69743785f_00000000
4316112,fbfff855-36ee-4c5c-abc8-56de141b4ec8_00000000,1,10000,6a3b83de-698f-40ab-a5c2-29d524876bf4_00000000
4316113,fbfffdeb-b74f-4d85-a42a-c33ce9cf5c43_00000000,0.166667,50,dbed8604-8682-4035-8a6a-a77dd4bca08f_00000000

In [41]:
duplicated_names = set(person_to_company_split["investor"])
table_1 = company_information[company_information["corporate_name"].isin(duplicated_names)][["eeid", "corporate_name"]]
table_1 = table_1.rename(columns = {"corporate_name":"name"})
table_2 = company_to_company[company_to_company["company_name"].isin(duplicated_names)][["eeid", "company_name"]]
table_2 = table_2.rename(columns = {"company_name" : "name"})
table_3 = company_to_company[company_to_company["invested_company_name"].isin(duplicated_names)][["invested_company_eeid", "invested_company_name"]]
table_3 = table_3.rename(columns = {"invested_company_name" : "name", "invested_company_eeid": "eeid"})
table_4 = person_to_company[person_to_company["company_name"].isin(duplicated_names)][["eeid", "company_name"]]
table_4 = table_4.rename(columns = {"company_name" : "name"})
table = pd.concat([table_1, table_2, table_3, table_4], ignore_index=True)
table.drop_duplicates(subset = ["name"],keep='first', inplace = True)
table

                                                  eeid                  name
0        000aab2f-aa6e-4a23-a3ed-e8aab8451bd1_00000000         东莞市里奥东尼家具有限公司
1        00197b89-95f5-4138-b249-b26b9e2cee31_00000000     康博嘉信息科技（北京）股份有限公司
2        00368693-9a71-442d-9568-c0bfd9bf7d1a_00000000               北京起重机器厂
3        0048812d-52d1-4a94-90be-f133a85b0a44_00000000  宁波泓瑞创惠股权投资合伙企业（有限合伙）
4        00536b02-d249-448c-8b5b-39d082f04925_00000000        深圳北大汇丰企业管理有限公司
...                                                ...                   ...
4837697  482ac3d2-70e8-41a3-a77b-930428de7616_00000000       内蒙古广联企业服务有限责任公司
4838047  210e8ca8-93a5-4a6a-9009-82ed9cb4906c_00000000          北京艺美咨询管理有限公司
4838185  cdf54e89-e6d2-4dd4-9ba9-4021c1160739_00000000          罗江县忠盛种植专业合作社
4840427  6596e06f-b304-439d-b999-e268111517d5_00000000          沈阳银海投资担保有限公司
4842192  8a0ce009-ad3c-482c-8bbb-114f34afd02d_00000000        上品阜宁投资咨询服务有限公司

[654029 rows x 2 columns]

In [42]:
ctc_csv.to_csv('./import_data/company_to_company.csv', index=False)

## Legal Person Relationships

In [43]:
legal_persons = pd.concat([legal_person_part, legal_person_info.reset_index()["eeid"]], axis = 1)
legal_persons = legal_persons.rename(columns = {"NodeID:ID(NodeID)":":START_ID(NodeID)", "eeid":":END_ID(NodeID)"})
legal_persons

         :START_ID(NodeID)                                :END_ID(NodeID)
0                        0  000aab2f-aa6e-4a23-a3ed-e8aab8451bd1_00000000
1                        1  0014c670-57a7-4fd0-a1ed-8a40df23544a_00000000
2                        2  00197b89-95f5-4138-b249-b26b9e2cee31_00000000
3                        3  00368693-9a71-442d-9568-c0bfd9bf7d1a_00000000
4                        4  0048812d-52d1-4a94-90be-f133a85b0a44_00000000
...                    ...                                            ...
9582157            9582157  f87cbce1-06f6-4bc2-8a1c-ccc775371459_00000000
9582158            9582158  f87cedd9-d73e-4128-83cd-97dee5cc8d5f_00000000
9582159            9582159  f87d0b35-fb8d-4423-876d-5b9c2524f08b_00000000
9582160            9582160  f87d6eb4-24de-44c3-858e-06be872f1e5a_00000000
9582161            9582161  f87dc28b-468d-4447-aae5-77331f3b39a3_00000000

[9582162 rows x 2 columns]

In [44]:
legal_persons.to_csv("./import_data/legal_persons.csv", index = False)

## Create Graph

```bash
cd ~
rm -rf neo4j-community-4.1.0
tar -xf neo4j-community-4.1.0-unix.tar.gz
cp neo4j.conf neo4j-community-4.1.0/conf/
cp data_upload/import_data/*.csv .
./neo4j-community-4.1.0/bin/neo4j-admin import --id-type=STRING --multiline-fields=true --nodes=NodeID=nodes.csv --nodes=Name=name_nodes.csv --nodes=Type=type_nodes.csv --nodes=City=city_nodes.csv --relationships=Invest=company_to_company.csv --relationships=Invest=person_to_company.csv --relationships=Is_name_of=company_names.csv --relationships=Is_name_of=investor_names.csv --relationships=Is_name_of=legal_person_names.csv --relationships=Is_type_of=company_types.csv --relationships=Is_type_of=investor_types.csv --relationships=Is_type_of=legal_person_types.csv --relationships=Is_city_of=cities.csv --relationships=Is_legal_person_of=legal_persons.csv
rm *.csv
rm import.report
```